:root {
  --main-color: #ec4755;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: gray;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-container {
  height: 520px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
.brand-logo {
  color: var(--main-color);
  font-size: 30px;
}

.nav-desktop {
  display: flex;
  list-style: none;
}
.nav-desktop a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--gray-color);
}
.nav-desktop a:hover {
  color: var(--main-color);
}

.nav-brand-image {
  background: url(./img/header.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
  .nav-brand-image {
    clip-path: none;
  }
}
