:root {
  --main-color: #ec4755;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: gray;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.button {
  background: transparent;
  padding: 9px 15px;
  border: 1.5px solid transparent;
  border-radius: 5px;
}
.button-main {
  background: var(--main-color);
  color: var(--white-color);
}
.button-main:hover {
  background: transparent;
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
}
.button-light {
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
}
.button-light:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.button-holder {
  display: inline-block;
}
.button-holder:hover .button-one {
  background: transparent;
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
}
.button-holder:hover .button-two {
  background: var(--main-color);
  color: var(--white-color);
}

.header-container {
  height: 520px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
.brand-logo {
  color: var(--main-color);
  font-size: 30px;
}

.nav-desktop {
  display: flex;
  list-style: none;
}
.nav-desktop a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--gray-color);
}
.nav-desktop a:hover {
  color: var(--main-color);
}

.header-banner-content {
  padding: 75px 0 0 50px;
}
.header-banner-content h1 {
  font-size: 50px;
  font-weight: 800;
}
.header-banner-content h1 span {
  color: var(--main-color);
}
.nav-brand-image {
    width: 100%;
    height: 100%;
    background: url("./img/header.jpg");
  background-size: cover;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
  .nav-brand-image {
    clip-path: none;
  }
}

/* ============= Maintenance notice starts here ===================== */
.maintenance-notice{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.maintenance-notice h1{
  line-height: 1.4;
}
.maintenance-notice h1 span{
  display: inline-block;
  padding: 4px 3px;
  background: var(--main-color);
  color: var(--white-color);
}
.maintenace-img img{
  width: 100%;
  height: 100%;
}
/* ============= Maintenance notice ends here ===================== */